* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    margin: 0;
    overflow-y:visible;
}

.intro {
    text-align: center;
    z-index:5;
    color: red;
    font-size: 15px;
}

.night-sky {
    background: black;
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.moon {
    width: 150px;
    height: 150px;
    right: 25px;
    top: 25px;
    position: fixed;
}

.ground {
    background-color: darkolivegreen;
    z-index: 2;
    position: fixed;
    height: 177px;
    width: 100vw;
    bottom:0;
}

.tree {
    z-index: 1;
    position: absolute;
    align-items: left;
    left:0;
    height: 100vh;
    width: 500px;
    top: 50px;
}

.tree img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
}

.graves {
    top: 200px;
    position: absolute;
}
 
.grave-1 {
    z-index: 4;
    position: absolute;
    left: 1000px;
    top: 200px;
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}
 
.grave-2 {
    z-index: 4;
    position: absolute;
    left: 2000px;
    top: 150px;
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}
 
.grave-3 {
    z-index: 4;
    position: absolute;
    left: 3000px;
    top: 200px;   
    padding: 20px;
    margin: 20px; 
    width: 100px;
    height: 100px;
    text-align: center;
}
 
.grave-4 {
    z-index: 4;
    position: absolute;
    left: 4000px;
    top: 150px; 
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center; 
}
 
.grave-5 {
    z-index: 4;
    position: absolute;
    left: 5000px;
    top: 200px; 
    padding: 20px;
    margin: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
}
 
.grave-6 {
    z-index: 4;
    position: absolute;
    left: 6000px;
    top: 150px;
    padding: 20px;
    margin: 20px; 
    width: 100px;
    height: 100px;
    text-align: center;
}
 
.grave-7 {
    z-index: 4;
    position: absolute;
    left: 7000px;
    top: 150px;
    padding: 20px;
    margin: 20px; 
    width: 100px;
    height: 100px;
    text-align: center;
}



.grave-1 img {
    width: 300%;
    height: 300%;
    object-fit: contain;
    display: block;
}

.grave-2 img {
    width: 350%;
    height: 350%;
    object-fit: contain;
    display: block;
}
.grave-3 img {
    width: 300%;
    height: 300%;
    object-fit: contain;
    display: block;
}
.grave-4 img {
    width: 350%;
    height: 350%;
    object-fit: contain;
    display: block;
}

.grave-5 img {
    width: 300%;
    height: 300%;
    object-fit: contain;
    display: block;
}
.grave-6 img {
    width: 300%;
    height: 300%;
    object-fit: contain;
    display: block;
}
.grave-7 img {
    width: 350%;
    height: 350%;
    object-fit: contain;
    display: block;
}

.dead {
    text-align: right;
    font-style: oblique;
}

a {
  color: white;
  text-decoration: none; /* no underline */
}