/* background */
body {
  background-color: darkblue;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/*border stuff*/
    body {
    border-image:  url("18.jpeg") 28 /  28px / 0 round;
    border-width:  28px;
    border-style:  solid; 
  }
/*margins*/
body {
  margin: 20px; 
}
/* fonts --> not working?*/
@font-face {
    font-family: 'linternational'; src: url("linternational.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body {
  font-family: 'Courier New', Courier, monospace;
font-size: 20px;
}
/*alignment for headers*/
h1, h5 {text-align: center;
}

/* typography things*/
body{  
  color: rgb(175, 255, 54);}
/* links */
a {
  text-decoration: underline;
  color: rgb(175, 255, 54);
}

a:hover {
  text-decoration: none;
  color: rgb(54, 255, 245);
}